<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/saint-persons.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<header th:insert="blocks/header">
</header>
<div class="hero">
    <h1 class="page-title  container">Святые</h1>
</div>
<form id="filter" class="container">
    <div class="container__element">
        <p class="message">Место рождения:</p>
        <div class="dropdown">
            <label for="place" class="dropdown-label"></label>
            <select id="place" name="place" class="dropdown-select">
                <option class="option" value=""></option>
                <option class="option" value="Туров">Туров</option>
                <option class="option" value="Полоцк">Полоцк</option>
                <option class="option" value="Суздаль">Суздаль</option>
                <option class="option" value="Новгород">Новгород</option>
                <option class="option" value="Остог">Остог</option>
                <option class="option" value="Могилёв">Могилёв</option>
                <option class="option" value="Слуцк">Слуцк</option>
                <option class="option" value="Пинск">Пинск</option>
                <option class="option" value="Овруч">Овруч</option>
                <option class="option" value="Зверки">Зверки</option>
                <option class="option" value="Нежин">Нежин</option>
                <option class="option" value="Городковичи">Городковичи</option>
                <option class="option" value="Шерстин">Шерстин</option>
                <option class="option" value="Коски">Коски</option>
                <option class="option" value="Севруки">Севруки</option>
            </select>
        </div>
    </div>

    <div class="container__element">
        <p class="message">Дата рождения от:</p>
        <div class="dropdown">
            <label for="minBirthDate" class="dropdown-label"></label>
            <input class="dropdown-select" id="minBirthDate" name="minBirthDate" placeholder="" type="text">
        </div>
    </div>

    <div class="container__element">
        <p class="message">Дата рождения до:</p>
        <div class="dropdown">
            <label for="maxBirthDate" class="dropdown-label"></label>
            <input class="dropdown-select" id="maxBirthDate" name="maxBirthDate" placeholder="" type="text">
        </div>
    </div>

    <button class="btn apply-filters-btn" type="button" id="filter-btn">Применить фильтры</button>
</form>

<div id="card-list"></div>

<template id="tmpCard">
    <div class="card saint-card">
        <img id="image" class="saint-image" src="" alt="Фотография человека">
        <div class="card-content">
            <h2 id="saint-name" class="saint">Имя Фамилия</h2>
            <div class="card-row">
                <h4 class="card-row__head saint-phrase">Дата рождения:</h4>
                <p id="date-of-birdth" class="saint-phrase">ав</p>
            </div>
            <div class="card-row">
                <h4 class="card-row__head saint-phrase">Место рождения:</h4>
                <p id="place-of-birth" class="saint-phrase">ва</p>
            </div>
            <div class="card-row">
                <h4 class="card-row__head saint-phrase">День памяти:</h4>
                <p id="dateOfMemory" class="saint-phrase">ав</p>
            </div>
            <a id="btn" class="read-more-button btn" href="#">Узнать больше</a>
        </div>
    </div>
</template>
<div class="pagination">
    <button id="previous" class="button">Предыдущее</button>
    <button id="next" class="button">Следующее</button>
</div>
<footer th:insert="blocks/footer"></footer>
<script src="/js/saint-persons.js"></script>
</body>
</html>