<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновить</title>
</head>
<body>

<form th:action="@{/moderation/articles/update}" th:object="${article}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="${article.id}">
    <img th:src="@{${article.getImage().getPath() + article.getImage().getFileName()}}">
    <input class="btn btn-primary" type="file" id="imageInput" name="imageInput" accept="image/*">

    <div class="row">
        <div class="col">
            <div class="row mb-2">
                <label class="col" for="title">Название</label>
                <input class="col" id="title" th:field="${article.title}" placeholder="Название" type="text">
                <span th:if="${#fields.hasErrors('title')}" th:errors="${article.title}"></span>
            </div>

            <div class="row mb-2">
                <label>
                    <textarea th:field="${article.text}" placeholder="Текст молитвы"></textarea>
                </label>
                <span th:if="${#fields.hasErrors('text')}" th:errors="${article.text}"></span>
            </div>
        </div>
    </div>

    <button class="btn btn-primary row" type="submit">Обновить</button>
</form>

<script>
    const imageInput = document.getElementById('imageInput');
    const preview = document.getElementById('preview');

    imageInput.addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(event) {
                preview.src = event.target.result;
                preview.style.display = 'block'; // Показываем изображение
            };
            reader.readAsDataURL(file);
        }
    });
</script>

</body>
</html>