body {
    position: relative;
    height: 100vh;
}

footer {
    width: 100%;
}

.image-wrapper {
    height: 400px;
    display: flex;
    justify-content: center;
}

.image-wrapper img {
    border-radius: 20px;
    height: 100%;
}

.content {
    margin-left: 10px;
}

.container h2{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 40px;
}

.container div {
    display: flex;
    justify-content: center;
}