body {
    margin: 0;
    position: relative;
    height: 100vh;
}

footer {
    width: 100%;
}

.saint-container {
    display: flex;
    margin-bottom: 20px;
}

.img-wrapper {
    height: 300px;
    margin-right: 25px;
}

.img-wrapper img {
    border-radius: 10px;
    height: 100%;
}

.point {
    display: flex;
}

.point span {
    margin: auto 0;;
}

.text {
    color:#403A28;
}

.text h2 {
    margin-top: 0;
}

.text h3 {
    margin-top: 19px;
    margin-bottom: 21px;
}

.day-of-memory {
    font-weight: 600;
    margin-left: 32px;
}

.text-content {
    text-align: justify;
}