ul {list-style-type: none;}

main {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month {
    padding: 10px 25px;
    width: 100%;
    background: #BAB5AB;
    text-align: center;
    box-sizing: border-box;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.prev, .next{
    float: left;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
}

.weekdays li {
    display: inline-block;
    width: 11.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.1%;
    text-align: center;
    margin-bottom: 5px;
    font-size:15px;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}


.mounth-calendar {
    width: 289px;
    margin: 0 2px;
    display: none;
    margin-top: 4px;
}

.month {
    border-radius: 10px 10px 0 0;
}

.days {
    border-radius: 0 0 10px 10px;
    color: #777;
    height: 140px;
}

.days--not-active {
    color: #fff;
}

.tooltip {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}

.active-calendar {
    display: block;
}

.calendar-container {
    display: flex;
}

.block {
    width: 586px;
    height: 536px;
    margin: 0 2px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block h2 {
    font-size: 75px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
    color: #403A28;
}

.active-day {
    background-color: #BAB5AB;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}