main {
    margin-bottom: 20px;
}

.map-wrapper {
    display: flex;                /* Используем flexbox */
    justify-content: center;      /* Центрируем по горизонтали */
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}

.map-wrapper img {
    width: 100%;
    height: auto;
}

.map-wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.point {
    fill: #fff;
    stroke: #5E5D5A;
    stroke-width: 8px;
    cursor: pointer;
    pointer-events: all;
}

.point:hover {
    animation: hoverElement 2s linear infinite; /* При наведении включаем анимацию */
}

@keyframes hoverElement { /* Сама анимация */
    0% {
        stroke: #5E5D5A;
    }
    50% {
        stroke: #FFFEE9;
    }
    100% {
        stroke: #5E5D5A;
    }
}

.tooltip {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}