<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Таинства</title>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/articles.css">
    </head>
        <body>
        <header th:insert="blocks/header"></header>
        <main>
            <h1 class="page-title  container">Таинства</h1>

                <div class="articles-list container">
                    <div class="article" th:each="article : ${articles}">
                        <h2 th:text="${article.title}">Таинство</h2>
                        <a th:href="@{/articles/{id}(id=${article.id})}" class="read-more-button">Открыть</a>
                    </div>
                </div>
        </main>
        <footer th:insert="blocks/footer"></footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>