<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>biography</title>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/biography.css">
    </head>
    <body>
        <header th:insert="blocks/header"></header>

        <main class="container">
            <div class="saint-container">
                <div class="img-wrapper">
                    <img th:src="@{'/' + ${saintPersonDTO.getImageUrl}}" alt="">
                </div>
                <div class="text">
                    <h2 th:text="${saintPersonDTO.getName + ' ' + saintPersonDTO.getSurname}"></h2>
                    <div class="point">
                        <h3>Дата рождения:</h3>
                        <span th:text="${saintPersonDTO.dateOfBirth}"></span>
                    </div>
                    <div class="point">
                        <h3>Место рождения:</h3>
                        <span th:text="${saintPersonDTO.placeOfBirth}"></span>
                    </div>
                    <div class="point">
                        <h3>Дата представления:</h3>
                        <span th:text="${saintPersonDTO.dateOfView}"></span>
                    </div>
                    <div class="point">
                        <h3>Место преставления:</h3>
                        <span th:text="${saintPersonDTO.placeOfView}"></span>
                    </div>
                    <!-- <div class="point">
                        <h3>День памяти: <span th:text="${saintPersonDTO.dateOfMemory}"></span></h3>
                        
                    </div> -->
                </div>
                
            </div>
            <p class="text-content">
                <span class="day-of-memory" th:text="${'День памяти — '+ saintPersonDTO.dateOfMemory + '. '}"></span>
                <span th:text="${saintPersonDTO.biography}"></span>
            </p>
        </main>

        <footer th:insert="blocks/footer"></footer>
    </body>
</html>