<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Календарь</title>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/calendar.css">
    </head>
    <body>
        <header th:insert="blocks/header"></header>
        <h1 class="page-title  container">Календарь</h1>
        <main>
            
            <div class="calendar-container">
                <div class="mounth-calendar active-calendar">
                    <div class="month">
                        <ul>
                            <li>
                                Январь<br>
                                <span style="font-size:18px">2025</span>
                            </li>
                        </ul>
                    </div>
    
                    <ul class="weekdays">
                        <li>Пн</li>
                        <li>Вт</li>
                        <li>Ср</li>
                        <li>Чт</li>
                        <li>Пт</li>
                        <li>Сб</li>
                        <li>Вс</li>
                    </ul>
    
                    <ul class="days">
                        <li class="days--not-active"></li>
                        <li class="days--not-active"></li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li class="active-day" data-title="Рождество Христово (двунадесятый)" data-text="Рождество Христово — это великий христианский праздник, отмечаемый 7 января 2025 года. Он посвящен чудесному рождению Иисуса Христа в Вифлееме от Девы Марии. Этот день символизирует надежду, радость и спасение для всего человечества.
                        Согласно евангельским рассказам, Христос родился в скромной пещере, и первыми, кто пришел поклониться Ему, стали пастухи, о которых возвестил Ангел. Позже волхвы из восточных стран принесли Ему дары: золото, ладан и смирну, символизирующие царское достоинство, божественную природу и человеческую судьбу.
                        Рождество Христово также знаменует завершение сорокадневного поста. В ночь с 6 на 7 января проходят торжественные богослужения, в которых верующие отмечают это важное событие, а затем начинается святки — двенадцать святых дней празднования
                        ">7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li class="active-day" data-title="Обрезание Господне (великий)" data-text="14 января в православной традиции отмечается праздник Обрезания Господня. Этот праздник связан с событием, описанным в Евангелии от Луки (2:21), когда на восьмой день после рождения Иисуса Христа, в соответствии с еврейскими законами, Он был обрезан и получил имя Иисус.

                        Обрезание Господне символизирует принятие Иисусом Христом еврейских обычаев и законов, а также подчеркивает его человеческую природу. Этот праздник также совпадает с днем памяти святого Василия Великого, одного из самых почитаемых святых в православной церкви.
                        
                        В этот день верующие собираются в храмах для участия в богослужениях, где читаются соответствующие молитвы и чтения из Священного Писания. Праздник Обрезания Господня напоминает о важности обрезания как знака завета между Богом и Его народом, а также о том, что Иисус пришел в мир как Спаситель всего человечества.
                        ">14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li class="active-day" data-title="Крещенский сочельник " data-text="18 января Русская Православная церковь отмечает Навечерие Богоявления Господня, или Крещенский сочельник. Это вечер приготовления к празднику Богоявления, который посвящен крещению Иисуса Христа Иоанном Крестителем в реке Иордан. Слово «крещаю» в переводе с греческого означает «погружаю в воду», и крещение Иоанна символизировало духовное очищение.
                        Праздник Богоявления также называется праздником Крещения, поскольку в этот день Бог явил Себя в трех лицах: Иисус Христос, Дух Святой в виде голубя и голос Бога Отца с небес.
                        Слово «навечерие» означает преддверие торжества, а «сочельник» связан с традицией варить сочиво — пшеничный взвар с медом и изюмом. В этот день установлен строгий пост, и верующие не едят до выноса свечи после утренней литургии.
                        Всенощное бдение праздника включает великое повечерие, литии и утреню. В этот день совершается Великое водоосвящение, и верующие собираются за святой водой. Если по каким-то причинам не удается посетить храм, можно использовать воду из водоема, однако она не считается святой.
                        Крещенская вода принимается натощак по ложечке. Она считается целебной и может использоваться для умывания и освящения постели. Хранить святую воду рекомендуется в Красном углу рядом с иконами, и считается, что она не портится. В этот день также принято кропить жилище крещенской водой с молитвой.
                        Важно помнить, что при обращении со святой водой необходимо избегать ссор и неблагочестивых поступков, иначе она может утратить свою святость.
                        ">18</li>
                        <li class="active-day" data-title="Богоявление или Крещение Господне (двунадесятый)" data-text="19 января православные христиане отмечают Крещение Господне, также известное как Богоявление. Этот праздник посвящен событию, когда Иисус Христос был крещен в реке Иордан Иоанном Крестителем. Крещение символизирует начало Его публичной миссии и открывает Божественную природу Христа.
                        В этот день вспоминается, как на Христа сошел Святой Дух в виде голубя, а с небес раздался голос Бога Отца, подтверждающий Его божественность. Это событие знаменует собой явление Святой Троицы, что придает празднику особое значение.
                        Крещение Господне также связано с традицией освящения воды. В храмах проводятся специальные службы, во время которых священник освящает воду, и верующие имеют возможность набрать святую воду для своих нужд. Многие люди также участвуют в купаниях в водоемах, что символизирует очищение и обновление
                        ">19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                    </ul>
                </div>
                <div class="mounth-calendar active-calendar">
                    <div class="month">
                        <ul>
                            <li>
                                Февраль<br>
                                <span style="font-size:18px">2025</span>
                            </li>
                        </ul>
                    </div>
    
                    <ul class="weekdays">
                        <li>Пн</li>
                        <li>Вт</li>
                        <li>Ср</li>
                        <li>Чт</li>
                        <li>Пт</li>
                        <li>Сб</li>
                        <li>Вс</li>
                    </ul>
    
                    <ul class="days">
                        <li class="days--not-active"></li>
                        <li class="days--not-active"></li>
                        <li class="days--not-active"></li>
                        <li class="days--not-active"></li>
                        <li class="days--not-active"></li>
                        <li>1</li>
                        <li>2</li> 
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li class="active-day" data-title="Сырная масленица(Начало)" data-text="Период с 23 февраля по 1 марта в Православной Церкви отмечается как Сырная неделя, или Масленица. Это время предшествует Великому посту и символизирует прощение, радость и подготовку к духовному очищению.
                        Сырная неделя названа так из-за разрешения на употребление молочных продуктов, включая сыры, поскольку в пост нельзя есть мясо. В течение этой недели верующие традиционно готовят блины, символизирующие солнце, и угощают ими друзей и родственников.
                        Масленица — это также время прощения. В последний день недели, прощенное воскресенье, принято просить прощения у близких и прощать их. Это помогает очистить сердце и душу перед началом Великого поста.
                        Сырная неделя наполнена радостью, веселыми встречами и традициями, что делает ее особенной в церковном календаре.
                        ">9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li class="active-day" data-title="Сретение Господне (двунадесятый)" data-text="Сретение Господне символизирует важное событие в жизни Иисуса Христа, которое произошло ровно через 40 дней после Его рождения. Согласно ветхозаветным законам, каждый первенец мужского пола должен был быть принесен в храм и посвящен Богу. В этот день Пресвятая Богородица привела младенца Иисуса в Иерусалимский храм, чтобы исполнить этот закон, и именно здесь произошло знаменательное Сретение — встреча Младенца с праведным Симеоном, который долгожданно ждал этого момента.
                        Ветхозаветная традиция, существовавшая две тысячи лет назад, стала основой одного из ключевых христианских праздников. Слово «Сретение» в переводе со старославянского означает «встреча», и в данном контексте это встреча Бога с человеком, что подчеркивает духовное единство и связь между ними.
                        В храмах этот день называют днем торжества веры. На торжественном богослужении освящаются свечи, которые верующие бережно хранят в течение года. Зажигать эти свечи принято в моменты молитвы, особенно в трудные времена, когда требуется особая поддержка и защита. Сретение Господне напоминает о встречах, которые укрепляют веру и освещают путь в жизни.
                        сократи
                        ">15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                    </ul>
                </div>
                <div class="mounth-calendar active-calendar">
                    <div class="month">
                        <ul>
                            <li>
                                Март<br>
                                <span style="font-size:18px">2025</span>
                            </li>
                        </ul>
                    </div>
    
                    <ul class="weekdays">
                        <li>Пн</li>
                        <li>Вт</li>
                        <li>Ср</li>
                        <li>Чт</li>
                        <li>Пт</li>
                        <li>Сб</li>
                        <li>Вс</li>
                    </ul>
    
                    <ul class="days">
                        <li class="days--not-active"></li>
                        <li class="days--not-active"></li>
                        <li class="days--not-active"></li>
                        <li class="days--not-active"></li>
                        <li class="days--not-active"></li>
                        <li class="active-day" data-title="Сырная масленица(Конец)" data-text="Период с 23 февраля по 1 марта в Православной Церкви отмечается как Сырная неделя, или Масленица. Это время предшествует Великому посту и символизирует прощение, радость и подготовку к духовному очищению.
                        Сырная неделя названа так из-за разрешения на употребление молочных продуктов, включая сыры, поскольку в пост нельзя есть мясо. В течение этой недели верующие традиционно готовят блины, символизирующие солнце, и угощают ими друзей и родственников.
                        Масленица — это также время прощения. В последний день недели, прощенное воскресенье, принято просить прощения у близких и прощать их. Это помогает очистить сердце и душу перед началом Великого поста.
                        Сырная неделя наполнена радостью, веселыми встречами и традициями, что делает ее особенной в церковном календаре.
                        ">1</li>
                        <li class="active-day" data-title="Воспоминание Адамова изгнания. Прощеное воскресенье">2</li>
                        <li class="active-day" data-title="Начало Великого поста" data-text="Пост Святой Четыредесятницы, или Великий пост, начинается с масленичной (сыропустной) недели и включает в себя вечерний обряд общего прощения в Прощеное воскресенье. Первый день поста называется «Чистый понедельник», когда верующие стремятся провести день в чистоте и строгости, уделяя внимание молитве и борьбе с греховными страстями.
                        Великий пост установлен в память о сорокадневном посте Иисуса Христа в пустыне, а также о постах Моисея и Илии. Древние свидетельства подтверждают, что пост соблюдался апостолами и ранней Церковью.
                        Он состоит из сорокадневного периода (Четыредесятницы) и поста Страстной седмицы. В древности христиане соблюдали пост с особой строгостью, воздерживаясь от пищи до девятого часа дня и употребляя лишь хлеб и овощи. В первую и Страстную седмицы предписывается особенно строгий режим, а в остальные дни разрешается сухоядение.
                        Церковь проявляет милосердие к детям, больным и престарелым, не накладывая на них строгих правил поста, но подчеркивает значимость духовного возрождения и дел милосердия.
                        ">3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                    </ul>
                </div>
                <div class="mounth-calendar active-calendar">
                    <div class="month">
                        <ul>
                            <li>
                                Апрель<br>
                                <span style="font-size:18px">2025</span>
                            </li>
                        </ul>
                    </div>
    
                    <ul class="weekdays">
                        <li>Пн</li>
                        <li>Вт</li>
                        <li>Ср</li>
                        <li>Чт</li>
                        <li>Пт</li>
                        <li>Сб</li>
                        <li>Вс</li>
                    </ul>
    
                    <ul class="days">
                        <li class="days--not-active"></li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li class="active-day" data-title="Благовещение Пресвятой Богородицы" data-text="Название праздника Благовещение отражает его суть: это день, когда Деве Марии была возвещена радостная весть о зачатии и рождении Богомладенца Христа. Этот праздник относится к двунадесятым непереходящим праздникам и отмечается ежегодно в один и тот же апрельский день.
                        Архангел Гавриил принес Деве Марии величайшую «Благую весть» — о том, что Сын Божий становится Сыном человеческим. Таким образом, исполняется пророчество Исаии, и Богородица соглашается на весть ангела с фразой: «Да будет мне по слову твоему». Без этого ее добровольного согласия Бог не мог бы стать человеком. Воплощение Христа возможно только благодаря свободе выбора, которая дана человеку, так как Бог не действует силой и не принуждает никого.
                        Согласно церковному Преданию, когда Архангел Гавриил явился Деве Марии, она читала слова пророка Исаии о рождении Мессии и думала: «Я готова стать последней служанкой той, кто удостоится родить Мессию».
                        С Благовещением связаны и некоторые народные обычаи. Говорят, что в этот день «птица гнезда не вьет, девица косы не плетет», подчеркивая, что любая работа в этот момент считается грехом.
                        " >7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li class="active-day" data-title="Конец Великого поста" data-text="Пост Святой Четыредесятницы, или Великий пост, начинается с масленичной (сыропустной) недели и включает в себя вечерний обряд общего прощения в Прощеное воскресенье. Первый день поста называется «Чистый понедельник», когда верующие стремятся провести день в чистоте и строгости, уделяя внимание молитве и борьбе с греховными страстями.
                        Великий пост установлен в память о сорокадневном посте Иисуса Христа в пустыне, а также о постах Моисея и Илии. Древние свидетельства подтверждают, что пост соблюдался апостолами и ранней Церковью.
                        Он состоит из сорокадневного периода (Четыредесятницы) и поста Страстной седмицы. В древности христиане соблюдали пост с особой строгостью, воздерживаясь от пищи до девятого часа дня и употребляя лишь хлеб и овощи. В первую и Страстную седмицы предписывается особенно строгий режим, а в остальные дни разрешается сухоядение.
                        Церковь проявляет милосердие к детям, больным и престарелым, не накладывая на них строгих правил поста, но подчеркивает значимость духовного возрождения и дел милосердия.
                        ">19</li>
                        <li class="active-day" data-title="Воскресение Христово. Пасха" data-text="Православная Пасха – самый большой и почитаемый праздник в христианской религии.
                        Это главный день в году у православных христиан - именно в этот день воскрес Иисус Христос.
                        Воскресение Христа – это историческое событие, уходящее своими корнями в далекое прошлое. По древним преданиям, именно в этот день произошло чудо – Христос Воскрес! Празднование Пасхи происходит по древним традициям, которые соблюдаются и в наши дни.
                        Само название «Пасха» произошло от еврейского слова «песах» (переход). У иудеев Песах символизируется с освобождением еврейского народа из египетского рабства. Для христиан Пасха – символ искупления человеческих грехов через смерть Иисуса Христа и его последующее воскрешение. Именно в этот день всем православным верующим христианам дается надежда на спасение и воскрешение после смерти. Воскрешение Христа является главным смыслом веры в христианской религии.
                        Дата празднования Пасхи определяется по лунно-солнечному календарю и выпадает на воскресенье – по древнему преданию Христос воскрес на третий день после казни, в ночь с субботы на воскресенье.
                        ">20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                    </ul>
                </div>
            </div>
            <div class="calendar-container">
                <div>
                    <div class="mounth-calendar active-calendar">
                        <div class="month">
                            <ul>
                                <li>
                                    Декабрь<br>
                                    <span style="font-size:18px">2025</span>
                                </li>
                            </ul>
                        </div>
        
                        <ul class="weekdays">
                            <li>Пн</li>
                            <li>Вт</li>
                            <li>Ср</li>
                            <li>Чт</li>
                            <li>Пт</li>
                            <li>Сб</li>
                            <li>Вс</li>
                        </ul>
        
                        <ul class="days">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li class="active-day" data-title="Введение во храм Пресвятой Богородицы (двунадесятый)" data-text="Введение во храм Пресвятой Богородицы — великий христианский праздник, отмечаемый 4 декабря. Он относится к двунадесятым непереходящим праздникам Православной Церкви и основан на предании о том, как в трёхлетнем возрасте родители Марии, праведные Иоаким и Анна, ввели её в Иерусалимский храм.
                            Собрав родственников, они одели Марию в лучшие одежды и с песнями привели её в храм, где первосвященник Захария ввёл её в святое святых. Это необычное событие удивило всех присутствующих. После этого Иоаким и Анна вернулись домой, оставив Марию на воспитание в храме до 15 лет.
                            В течение этого времени Мария занималась чтением Священного Писания, рукоделием и молитвой, возрастая в любви к Богу.
                            Сегодня в честь праздника проводятся торжественные богослужения, а в Рождественский пост разрешена вареная пища с постным маслом и рыба.
                            ">4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                            <li>31</li>
                        </ul>
                    </div>
                    <div class="mounth-calendar active-calendar">
                        <div class="month">
                            <ul>
                                <li>
                                    Ноябрь<br>
                                    <span style="font-size:18px">2025</span>
                                </li>
                            </ul>
                        </div>
        
                        <ul class="weekdays">
                            <li>Пн</li>
                            <li>Вт</li>
                            <li>Ср</li>
                            <li>Чт</li>
                            <li>Пт</li>
                            <li>Сб</li>
                            <li>Вс</li>
                        </ul>
        
                        <ul class="days">
                            <li class="days--not-active"></li>
                            <li class="days--not-active"></li>
                            <li class="days--not-active"></li>
                            <li class="days--not-active"></li>
                            <li class="days--not-active"></li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li class="active-day" data-title="Начало Рождественского поста" data-text="Рождественский пост, также известный как Филипповский или Филипповки, начинается в день памяти апостола Филиппа (27 ноября) и длится 40 дней до кануна Рождества Христова. Эта традиция восходит к раннему христианству и впервые упоминается в исторических источниках с 4 века. Изначально пост длился всего семь дней, но в 1166 году по решению патриарха Луки Хрисоверга его продлили до сорока.
                            Церковь учит, что пост помогает подготовиться к встрече Рождества с чистым сердцем и душой. Истинный пост включает не только воздержание от пищи, но и очищение души, как отмечал Иоанн Златоуст.
                            Во время Рождественского поста запрещается употребление мяса, яиц, молока и животного масла. В понедельник, среду и пятницу нельзя есть растительное масло, а рыба разрешается только в субботу и воскресенье, а также в великие праздники. С 2 по 6 января пост усиливается, и рыба не разрешается даже в выходные.
                            Сегодня пост строго соблюдают только священнослужители и благочестивые верующие, в то время как для большинства мирян возможны послабления. 
                            Пост заканчивается в ночь с 6 на 7 января с восходом первой звезды, указывающей путь к младенцу Иисусу.
                            ">28</li>
                            <li>29</li>
                            <li>30</li>
                            <li>31</li>
                        </ul>
                    </div>
                </div>
                <div class="block">
                    <div>
                        <h2>Православный календарь</h2>
                        <h2>на 2025 год</h2>
                    </div>
                </div>
                <div>
                    <div class="mounth-calendar active-calendar">
                        <div class="month">
                            <ul>
                                <li>
                                    Май<br>
                                    <span style="font-size:18px">2025</span>
                                </li>
                            </ul>
                        </div>
        
                        <ul class="weekdays">
                            <li>Пн</li>
                            <li>Вт</li>
                            <li>Ср</li>
                            <li>Чт</li>
                            <li>Пт</li>
                            <li>Сб</li>
                            <li>Вс</li>
                        </ul>
        
                        <ul class="days">
                            <li class="days--not-active"></li>
                            <li class="days--not-active"></li>
                            <li class="days--not-active"></li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li class="active-day" data-title="Вознесение Господне (40-й день по Пасхе, двунадесятый)" data-text="Вознесение Господне — это значимый христианский праздник, который отмечается на сороковой день после Пасхи. Этот день символизирует вознесение Иисуса Христа на небеса после Его воскресения.
                            Согласно евангельским текстам, после своего воскресения Христос оставался на земле еще 40 дней, являясь своим ученикам и укрепляя их веру. В последний день, собрав своих последователей, Он благословил их и, восходя на небеса, обещал не оставлять их одиночками, посылая Духа Святого.
                            Вознесение Господне акцентирует внимание на надежде на небесное спасение и окончательное единство с Богом. В этот день в храмах проводятся особые службы, на которых вспоминаются события Вознесения и подчеркивается важность миссии апостолов.
                            ">29</li>
                            <li>30</li>
                            <li>31</li>
                        </ul>
                    </div>
                    <div class="mounth-calendar active-calendar">
                        <div class="month">
                            <ul>
                                <li>
                                    Июнь<br>
                                    <span style="font-size:18px">2025</span>
                                </li>
                            </ul>
                        </div>
        
                        <ul class="weekdays">
                            <li>Пн</li>
                            <li>Вт</li>
                            <li>Ср</li>
                            <li>Чт</li>
                            <li>Пт</li>
                            <li>Сб</li>
                            <li>Вс</li>
                        </ul>
        
                        <ul class="days">
                            <li class="days--not-active"></li>
                            <li class="days--not-active"></li>
                            <li class="days--not-active"></li>
                            <li class="days--not-active"></li>
                            <li class="days--not-active"></li>
                            <li class="days--not-active"></li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li class="active-day" data-title="Пятидесятница. День Святой Троицы (50-й день по Пасхе, двунадесятый)" data-text="День Святой Троицы, или Пятидесятница, — это христианский праздник, отмечаемый на 50-й день после Пасхи. Этот день символизирует сошествие Святого Духа на апостолов и начало их миссионерской деятельности.
                            Согласно Новому Завету, в день Пятидесятницы апостолы, собравшись в Иерусалиме, получили дар Святого Духа, что позволило им говорить на разных языках и проповедовать Евангелие всем народам. Это событие считается рождением Церкви и началом распространения христианства.
                            День Святой Троицы также подчеркивает учение о Троице — единстве Бога в трех лицах: Отца, Сына и Святого Духа. В этот день в храмах проводятся особые службы, а верующие часто украшают свои дома зелеными ветвями и цветами, символизируя новый жизненный цикл и обновление.
                            ">8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li class="active-day" data-title="Начало поста Петрова" data-text="Петров и Павлов пост, ранее известный как пост Пятидесятницы, установлен в память первоверховных апостолов Петра и Павла, которые готовились к проповеди. О его церковном установлении упоминается в постановлениях апостольских: «После Пятидесятницы празднуйте одну седмицу, а затем поститесь».
                            Пост начинается в понедельник, через неделю после Дня Святого Духа, что соответствует 57-му дню после Пасхи. Его длительность варьируется: от шести недель до восьми дней, в зависимости от даты Пасхи. Заканчивается он 12 июля, в День святых апостолов Петра и Павла, если праздник не выпадает на среду или пятницу.
                            Рацион во время Петрова поста считается нестрогим: исключаются продукты животного происхождения, разрешены растительные продукты и рыба. Однако в среду и пятницу рыба и растительное масло не употребляются.
                            Соблюдая пост, важно следить за своим рационом, чтобы не навредить здоровью. Суть поста заключается не в голодании, а в подготовке к празднику памяти святых апостолов, которые сами постились перед началом своей проповеди. Правильное питание в этот период поддержит как тело, так и душу.
                            ">16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="calendar-container">
                <div class="mounth-calendar active-calendar">
                    <div class="month">
                        <ul>
                            <li>
                                Октябрь<br>
                                <span style="font-size:18px">2025</span>
                            </li>
                        </ul>
                    </div>
    
                    <ul class="weekdays">
                        <li>Пн</li>
                        <li>Вт</li>
                        <li>Ср</li>
                        <li>Чт</li>
                        <li>Пт</li>
                        <li>Сб</li>
                        <li>Вс</li>
                    </ul>
    
                    <ul class="days">
                        <li class="days--not-active"></li>
                        <li class="days--not-active"></li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li class="active-day" data-title="Покров Пресвятой Богородицы (великий)" data-text="Праздник Усекновения главы Пророка, Предтечи и Крестителя Господня Иоанна отмечает трагические события, описанные в Евангелиях от Матфея и Марка. Святой Иоанн Креститель был заключен в темницу по приказу Ирода Антипы, который был упрекнут за греховное сожительство с Иродиадой, женой его брата Филиппа.
                        На одном из торжеств Ирод пообещал Саломии, дочери Иродиады, исполнить любое ее желание. Под влиянием матери, она попросила голову Иоанна на блюде. Несмотря на внутренние сомнения и страх перед народом, который любил Крестителя, Ирод отдал приказ о казни.
                        После исполнения приговора голову Иоанна закопала Иродиада, но благочестивая Иоанна, жена домоправителя Ирода, нашла и похоронила ее на горе Елеонской. Тело святого Иоанна его ученики захоронили в Севастии, где произошло это злодеяние.
                        Божий суд над Ирода и его окружением осуществился еще при их земной жизни: Саломия трагически погибла, провалившись под лед, а Ирод и Иродиада были сосланы в Галлию, где встретили свою гибель.
                        Праздник Усекновения главы Иоанна Крестителя установлен в память о его мученической смерти и сопровождается строгим постом. В этот день также совершается поминовение усопших воинов, что подчеркивает скорбь и уважение к памяти тех, кто отдал свою жизнь.
                        ">14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                    </ul>
                </div>
                <div class="mounth-calendar active-calendar">
                    <div class="month">
                        <ul>
                            <li>
                                Сентябрь<br>
                                <span style="font-size:18px">2025</span>
                            </li>
                        </ul>
                    </div>
    
                    <ul class="weekdays">
                        <li>Пн</li>
                        <li>Вт</li>
                        <li>Ср</li>
                        <li>Чт</li>
                        <li>Пт</li>
                        <li>Сб</li>
                        <li>Вс</li>
                    </ul>
    
                    <ul class="days">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li class="active-day" data-title="Усекновение главы Иоанна Предтечи" data-text="Праздник Усекновения главы Пророка, Предтечи и Крестителя Господня Иоанна отмечается в память событий, описанных в Евангелиях от Матфея и Марка. Святой Иоанн Креститель был заключен в темницу Иродом Антипой за обличение его греха — незаконного сожительства с Иродиадой, женой его брата Филиппа.
                        На пиршествах Ирод пообещал Саломии, дочери Иродиады, исполнить любое желание. Под давлением матери она запросила голову Иоанна на блюде. Несмотря на страх перед народом и Божьим гневом, Ирод повелел казнить Иоанна.
                        После казни голова Иоанна была закопана Иродиадой, но благочестивая Иоанна, жена домоправителя Ирода, похоронила ее на горе Елеонской. Тело Иоанна его ученики похоронили в Севастии.
                        Суд Божий над Ирода и его окружением пришел в их земной жизни: Саломия погибла, провалившись под лед. Ирод и Иродиада были сосланы в Галлию, где погибли.
                        Праздник Усекновения главы Иоанна Крестителя установлен в память о его мученической кончине и сопровождается строгим постом. В этот день также поминают усопших воинов.
                        ">11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li class="active-day" data-title="Рождество Пресвятой Богородицы" aria-details="Рождество Пресвятой Владычицы нашей Богородицы и Приснодевы Марии — значимый двунадесятый праздник, который отмечается 21 сентября. Его установила Церковь в IV веке.
                        В небольшом городе Назарете жили праведные супруги Иоаким и Анна, которые долгое время страдали от бездетности. Однажды, принося дары в Иерусалимский храм, Иоаким столкнулся с отказом священника принять их, что стало для него большим горем.
                        Анна, узнав о случившемся, в печали отправилась в сад. Увидев птенцов в гнезде, она заплакала, осознав, что даже у птиц есть потомство. В этот момент ей явился ангел, который обрадовал её известием: она родит Дочь, благословенную для всех народов, — Марию. Ангел также сообщил ту же весть Иоакиму, повелев ему встретиться с Анной.
                        Супруги, наполненные радостью, встретились в храме и вместе возвратились домой. Через девять месяцев у них родилась Дочь, ставшая источником радости для всего мира. В честь этого события Иоаким принёс большие дары Богу и устроил пир, а Церковь справедливо называет их Богоотцами, ведь от Марии родился Иисус Христос.
                        ">21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li class="active-day" data-title="Воздвижение Креста Господня (двунадесятый)" data-text="Праздник Воздвижения Честного и Животворящего Креста Господня, отмечаемый 27 сентября, установлен в память обретения и возвышения Креста Христова при императоре Константине Великом, который прекратил гонения на христиан.
                        Император, одержавший победу в войнах, увидел на небе знамение — Крест с надписью «Сим победиши» и послал свою мать, царицу Елену, в Иерусалим в поисках Креста. Римские язычники пытались уничтожить священные места, и император Адриан приказал засыпать Голгофу и Гроб Господень.
                        Царица Елена долго искала Крест, пока один старый еврей не указал ей, что он зарыт под капищем Венеры. После разрушения капища были найдены три креста, дощечка с надписью «Иисус Назорей, Царь Иудейский» и четыре гвоздя. Чтобы узнать, какой из крестов принадлежал Спасителю, Патриарх Макарий испытал их на больной женщине и покойном, и третий крест исцелил и воскресил.
                        Люди пришли поклониться найденному Кресту, и Патриарх возвысил его для всеобщего поклонения. Святая Елена привезла часть Животворящего Древа в Константинополь, а Константин велел построить храм в Иерусалиме, освящённый 26 сентября 335 года. На следующий день был установлен праздник Воздвижения Креста.
                        В этот день во всех храмах совершается Всенощное бдение и Литургия, а иконы и частицы Животворящего Креста хранятся в монастырях и храмах по всему миру.
                        ">27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                    </ul>
                </div>

                <div class="mounth-calendar active-calendar">
                <div class="month">
                    <ul>
                        <li>
                            Август<br>
                            <span style="font-size:18px">2025</span>
                        </li>
                    </ul>
                </div>

                <ul class="weekdays">
                    <li>Пн</li>
                    <li>Вт</li>
                    <li>Ср</li>
                    <li>Чт</li>
                    <li>Пт</li>
                    <li>Сб</li>
                    <li>Вс</li>
                </ul>

                <ul class="days">
                    <li class="days--not-active"></li>
                    <li class="days--not-active"></li>
                    <li class="days--not-active"></li>
                    <li class="days--not-active"></li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li class="active-day" data-title="Начало Успенского поста" data-text="Успенский пост установлен перед праздниками Преображения Господня и Успения Божией Матери, длится две недели с 14 августа. Этот обычай передается с древних времен христианства.
                    Лев Великий в своем обращении около 450 года отмечал, что церковные посты имеют свое время и правила: весенний пост (Четыредесятница), летний (Петров пост), осенний (Успенский) и зимний (Рождественский).
                    Святой Симеон Солунский поясняет, что Успенский пост учрежден в честь Божией Матери, которая, зная о своем предстоящем переходе, молилась и постилась за людей. Он также указывает на связь поста с праздниками Преображения и Успения, подчеркивая их значимость для верующих.
                    В дни поста по понедельникам, средам и пятницам предписано сухоядение, во вторник и четверг разрешается горячая пища без масла, а в субботу и воскресенье — с растительным маслом. В день Преображения (19 августа) разрешается рыба, а если Успение выпадает на среду или пятницу, то также разрешается рыба в эти дни.
                    ">14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li class="active-day" data-title="Преображение Господне" data-text="19 августа Православная церковь отмечает праздник Преображение Господа Бога и Спаса нашего Иисуса Христа. В этот день Господь преобразился на горе Фавор перед учениками Петром, Иаковом и Иоанном, явив им свою Небесную славу. Его лицо засияло, а одежды стали белыми, как свет.
                    Явились пророки Моисей и Илия, беседующие с Господом, и из облака раздался голос: «Сей есть Сын Мой возлюбленный, Его слушайте». Этот праздник подчеркивает единство Божества и человечества в Христе и служит укреплением веры учеников.
                    Преображение Господне относится к 12 основным православным праздникам и в народе называется Вторым Спасом. Это также праздник урожая, когда освящают плоды, особенно яблоки, что дало празднику еще одно название — Яблочный Спас. Пасечники освящают ульи и угощают медом соседей, особенно нуждающихся.
                    ">19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li class="active-day" data-title="Конец Успенского поста" data-text="Успенский пост установлен перед праздниками Преображения Господня и Успения Божией Матери, длится две недели с 14 августа. Этот обычай передается с древних времен христианства.
                    Лев Великий в своем обращении около 450 года отмечал, что церковные посты имеют свое время и правила: весенний пост (Четыредесятница), летний (Петров пост), осенний (Успенский) и зимний (Рождественский).
                    Святой Симеон Солунский поясняет, что Успенский пост учрежден в честь Божией Матери, которая, зная о своем предстоящем переходе, молилась и постилась за людей. Он также указывает на связь поста с праздниками Преображения и Успения, подчеркивая их значимость для верующих.
                    В дни поста по понедельникам, средам и пятницам предписано сухоядение, во вторник и четверг разрешается горячая пища без масла, а в субботу и воскресенье — с растительным маслом. В день Преображения (19 августа) разрешается рыба, а если Успение выпадает на среду или пятницу, то также разрешается рыба в эти дни.
                    " >27</li>
                    <li class="active-day" data-title="Успение Пресвятой Богородицы" data-text="Праздник Успения посвящен завершению земной жизни Богородицы, Девы Марии, матери Иисуса Христа, и считается двунадесятым в православной традиции, что подчеркивает его значимость.
                    Согласно Евангелию, Успение не стало неожиданным событием. После смерти и до воскресения Христа Богоматерь много лет жила в Иерусалиме, часто посещая Гроб Господень. Архангел Гавриил сообщил ей, что вскоре она встретится со своим Сыном на небесах. Перед кончиной Дева Мария пожелала увидеть всех учеников Иисуса, и ангелы принесли апостолов, чтобы они могли с ней попрощаться. Затем она мирно скончалась, окруженная сиянием.
                    Слово «успение» переводится как «сон», символизируя легкий переход к вечной жизни. В народе праздник называли Первой Пречистой. Крестьяне оставляли на поле несжатый сноп, дожиночный, который срезали в праздник, проводя обряды для защиты урожая от голода в будущем.
                    ">28</li>
                    <li>29</li>
                    <li>30</li>
                    <li>31</li>
                </ul>
                </div>
                <div class="mounth-calendar active-calendar">
                    <div class="month">
                        <ul>
                            <li>
                                Июль<br>
                                <span style="font-size:18px">2025</span>
                            </li>
                        </ul>
                    </div>
    
                    <ul class="weekdays">
                        <li>Пн</li>
                        <li>Вт</li>
                        <li>Ср</li>
                        <li>Чт</li>
                        <li>Пт</li>
                        <li>Сб</li>
                        <li>Вс</li>
                    </ul>
    
                    <ul class="days">
                        <li class="days--not-active"></li>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li class="active-day" data-title="Рождество Иоанна Предтечи (великий)" data-text="Рождество честного славного Пророка, Предтечи и Крестителя Господня Иоанна — великий христианский праздник, отмечаемый 7 июля по новому стилю. В этот день верующие вспоминают о рождении Иоанна, сына священника Захарии и праведной Елисаветы, который предсказал пришествие Мессии и крестил Христа в Иордане.
                        Согласно Евангелию от Луки, архангел Гавриил возвестил Захарии о рождении сына, который будет велик пред Господом и исполнится Святым Духом. Захария, усомнившись в словах ангела, стал немым до рождения Иоанна.
                        Когда Дева Мария навестила Елисавету, младенец в её утробе возрадовался, предсказав приход Мессии. Иоанн родился на полгода раньше Иисуса, и когда Елисавета назвала его именем Иоанн, Захария подтвердил это письменно, после чего стал говорить и благословлять Бога.
                        Празднование Рождества Иоанна Предтечи возникло в III веке и приобрело общецерковное значение в IV веке. Накануне праздника в храмах проходит всенощное бдение, а в сам день совершается божественная литургия, без заупокойных молений. Верующим рекомендуются молитвы покаяния и радости.
                        ">7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li class="active-day" data-title="Конец поста Петрова" data-text="Петров и Павлов пост, ранее известный как пост Пятидесятницы, установлен в память первоверховных апостолов Петра и Павла, которые готовились к проповеди. О его церковном установлении упоминается в постановлениях апостольских: «После Пятидесятницы празднуйте одну седмицу, а затем поститесь».
                        Пост начинается в понедельник, через неделю после Дня Святого Духа, что соответствует 57-му дню после Пасхи. Его длительность варьируется: от шести недель до восьми дней, в зависимости от даты Пасхи. Заканчивается он 12 июля, в День святых апостолов Петра и Павла, если праздник не выпадает на среду или пятницу.
                        Рацион во время Петрова поста считается нестрогим: исключаются продукты животного происхождения, разрешены растительные продукты и рыба. Однако в среду и пятницу рыба и растительное масло не употребляются.
                        Соблюдая пост, важно следить за своим рационом, чтобы не навредить здоровью. Суть поста заключается не в голодании, а в подготовке к празднику памяти святых апостолов, которые сами постились перед началом своей проповеди. Правильное питание в этот период поддержит как тело, так и душу.
                        ">11</li>
                        <li class="active-day" data-title="Святых перв. апостолов Петра и Павла (великий)" data-text="12 июля православная церковь отмечает День славных и всехвальных первоверховных апостолов Петра и Павла, завершая Петров пост, если праздник не совпадает с средой или пятницей. Этот день относится к категории «великих» праздников.
                        Апостол Петр, брат Андрея, был рыбаком из Капернаума. Иисус Христос назвал его Петром (камнем) и назначил пастырем, сказав: «Паси овец Моих». Петр стал смелым проповедником, обратив на веру тысячи людей и совершая исцеления. Он мученически скончался в Риме, прося распять его вниз головой.
                        Апостол Павел, родом из Тарса, изначально был гонителем христиан. После обращения ко Христу он стал проповедовать Его учение, активно способствуя распространению христианства. Павел и Петр оба мученически погибли в Риме при императоре Нероне, и их память празднуется в один день.
                        ">12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li>16</li>
                        <li>17</li>
                        <li>18</li>
                        <li>19</li>
                        <li>20</li>
                        <li>21</li>
                        <li>22</li>
                        <li>23</li>
                        <li>24</li>
                        <li>25</li>
                        <li>26</li>
                        <li>27</li>
                        <li>28</li>
                        <li>29</li>
                        <li>30</li>
                        <li>31</li>
                    </ul>
                </div>
            </div>
        </main>

        <div class="tooltip"></div>

        <div class="info__bg">
            <div class="info">
                <div class="info__wrapper">
                    <button class="info__close-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                        </svg>
                    </button>
                    <div class="info__text-wrapper">
                        <h2 class="info__title"></h2>
                        <p class="info__text"></p>
                    </div>
                </div>

            </div>
        </div>

        <footer th:insert="blocks/footer"></footer>
        <script src="/js/calendar.js"></script>
    </body>
</html>