<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Карта Беларуси</title>
        <link href="/css/map.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/common.css">
    </head>
    <body>
        <header th:insert="blocks/header"></header>
        <main>
            <h1 class="page-title container">Карта</h1>

            <div class="map-wrapper">
                <svg viewbox="0 0 832 707.20001">
                    <g>
                        <circle data-title="Всехсвятская церковь" data-text="Всехсвятская церковь или храм-памятник в честь Всех Святых и в память безвинно убиенных – новая достопримечательность Минска. Обладает уникальной архитектурой и большими размерами, а также является почитаемой Русской Православной церковью. Перед основным зданием есть ещё небольшая деревянная Троицкая церквушка. С момента задумки проекта, до его осуществления прошло больше десяти лет." data-photo="/img/chirches/Vsehsvyatskij.jpg" class="point" cx="393.58417" cy="330.44604" r="5.3373585"/> 
                        <circle data-title="Святоуспенский кфедральный собор" data-text="Свято-Успенский кафедральный собор — храм в Витебске, памятник архитектуры виленского барокко на Успенской горке. При построении за образец взят храм Сан-Карло-аль-Корсо в Риме.
                        Первые документальные данные о существовании православной церкви Пресвятой Богородицы на Лысой (Пречистенской) горе, в месте слияния Витьбы и Западной Двины, относится к 1406 году. А уже к началу XV века появилась новоотстроенная церковь. По приговору польского суда по поводу убийства униатского епископа Иосафата Кунцевича Успенскую церковь разобрали, казнили 20 человек, город лишили магдебурского права и всех привилегий. Через несколько лет на собранные деньги витебляне восстанавливают деревянный храм, но в 1629 году он сгорает. В 1636 году сооружается новый Успенский храм, однако, через полвека он ветшает." data-photo="/img/chirches/SvyatoYspencki.jpg" class="point" cx="609.90765" cy="143.6161" r="5.3373585"/> 
                        <circle data-title="Собор святой Софии" data-text="Софи́йский собор — недействующий православный храм в Полоцке, памятник архитектуры XI—XVIII веков, самая первая каменная постройка на территории современной Белоруссии. Возведённый в середине XI века в византийском стиле храм был освящён во имя Святой Софии." data-photo="/img/chirches/Sophia.jpg" class="point" cx="488.21658" cy="111.95773" r="5.3373585"/> 
                        <circle data-title="Петропавловский собор" data-text="
                        Гомельский кафедральный собор, построенный в 1809–1819 годах, является главной святыней города. Освящен в 1825-м в честь апостолов Петра и Павла. Храм расположен на высоком мысе, образованном рекой Сож и Киевским спуском.
                        Собор Святых Петра и Павла (Петро-Павловский собор) построен в стиле классицизма по инициативе и на средства владельца гомельского имения, государственного канцлера, графа Николая Румянцева в обстановке всеобщего подъема страны, собственных успехов на государственном поприще, поэтому этой постройке были приданы черты величественности. Автором проекта храма стал английский архитектор Джон Кларк.
                        Умер Н.П. Румянцев 3 января 1826 года в Петербурге. Его прах был перевезен в Гомель и похоронен, согласно духовному завещанию, в «его любимом Гомеле, в соборе, им же выстроенном»." data-photo="/img/chirches/Petropavlovski.jpg" class="point" cx="645.75922" cy="534.96979" r="5.3373585"/> 
                        <circle data-title="Свято-Николаевский женский моностырь" data-text="Свя́то-Нико́льский монасты́рь — православный женский монастырь Белорусского экзархата Русской православной церкви в городе Могилёве. На территории монастыря находятся Свято-Никольский собор и храм преподобного Онуфрия Великого.
                        Свято-Никольский собор имеет три придела: Главный придел, левый придел, освященный в честь Святых Царственных Мучеников, и правый придел, освященный в честь Благовещения Божией Матери и Святого Крестителя Иоанна. " data-photo="/img/chirches/Women.jpg" class="point" cx="599.08026" cy="348.73859" r="5.3373585"/> 
                        <circle data-title="Свято-Федоровский собор" data-text="Свято-Феодоровский собор — православный храм в Пинске в честь покровителя города Феодора Тирона. Возведение собора, построенного в русско-византийском стиле по проекту архитектора Леонида Макаревича, было завершено в 2001 году. Храм был освящён Патриархом Московским и всея Руси Алексием II.
                        Фасады собора разделены на три арочных прясла, украшенных лишь узкими окнами. Над волнами закомар возвышаются пять куполов. Высота собора составляет 33 м. Рядом с храмом расположена соборная колокольня высотой 55 м, которая содержит 12 колоколов, отлитых на воронежском колокололитейном заводе Анисимова. " data-photo="/img/chirches/Fedor.jpg" class="point" cx="366.06644" cy="577.86969" r="5.3373585"/> 
                        <circle data-title="Церковь Пантейлемона целителя" data-text="Церковь является примером новой постройки. Построили церковь в 2006 году, это значит, что с этого времени прошло не много, не мало 17 лет. Церковь располагается в историческом центре Лиды. Построена она в неовизантийском стиле. Это действительно красивое величественное строение с шикарным внутренним убранством. Внутри располагается деревянный резной алтарь." data-photo="/img/chirches/Healler.jpg" class="point" cx="204.74718" cy="320.13205" r="5.3373585"/> 
                        <circle data-title="Коложская церковь Св. Бориса и Глеба" data-text="Борисогле́бская це́рковь, (Коложская церковь, Коло́жа) — одна из древнейших сохранившихся церквей Древней Руси, уникальный памятник чёрнорусского зодчества. Расположена на территории современной Белоруссии в Гродно, на высоком берегу реки Неман. Является самым западным из сохранившихся древнерусских храмов. Точная дата возведения не установлена, предположительно, церковь была построена в 1180-х. Освящена в честь Бориса и Глеба. Коложа сложена из плинфы и отличается уникальным декором фасадов — неоштукатуренные стены украшены вставками из полированных цветных валунов и глазурованной керамической плитки. Стены храма двойные, во внутреннем слое между кирпичами вмурованы многочисленные кувшины-голосники, придающие помещению особые акустические свойства.
                        Церковь неоднократно разрушалась во время войн, но наибольший урон ей нанесли оползни в середине XIX века. Тогда были утрачены южная и частично западная стены, при реставрации 1896—1906 годов их заменили деревянными. Последний цикл реставрации прошёл в 2017—2019 годах.                 " data-photo="/img/chirches/Kaloga.jpg" class="point" cx="102.29937" cy="379.84201" r="5.3373585"/> 
                        <circle data-title="Свято-Николаевский собор" data-text="Свя́то-Никола́евский гарнизо́нный собо́р — православный храм в городе Бресте, на территории Брестской крепости. Принадлежит к Брестской епархии Белорусского экзархата Русской православной церкви. Собор представляет собой памятник архитектуры неовизантийского стиля и является одним из наиболее ярких примеров заимствований из византийского зодчества на территории Белоруссии.

                        Собор был построен в 1856—1879 годах (по другим сведениям, в 1851—1876 годах) по проекту академика архитектуры Давида Гримма. Впоследствии храм неоднократно посещался российскими императорами, от Александра II до Николая II. После присоединения Бреста к Польше в XX веке собор был переделан в католический храм по проекту архитектора Юлиана Лисецкого, претерпев значительные изменения в области фасада. Во время Великой Отечественной войны храм сильно пострадал, и в 1972 году была произведена его консервация с включением в мемориальный комплекс «Брестская крепость-герой». Уже в 1991 году состоялось первое послевоенное богослужение, а в 1994 году храм вернули верующим. Началась его реставрация, завершившаяся лишь в 2005 году; до сих пор ведутся работы по внутренней отделке собора. " data-photo="/img/chirches/Nikolai.jpg" class="point" cx="69.44352" cy="586.13287" r="5.3373585"/> 
                    </g>
                </svg>
                <img src="/img/map.jpg" alt="">
            </div>


            <div class="info__bg">
                <div class="info">
                    <div class="info__wrapper">
                        <button class="info__close-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                            </svg>
                        </button>
                        <div class="info__photo-wrapper">
                            <img src="" alt="" class="info__photo">
                        </div>
                        <div class="info__text-wrapper">
                            <h2 class="info__title"></h2>
                            <p class="info__text"></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tooltip"></div>


        </main>
        <footer th:insert="blocks/footer"></footer>
        <script src="/js/map.js"></script>
    </body>
</html>