<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Карта Беларуси</title>
        <link href="/css/map.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/common.css">
    </head>
    <body>
        <header th:insert="blocks/header"></header>
        <main>
            <h1 class="page-title container">Карта</h1>

            <div class="map-wrapper">
                <svg viewbox="0 0 832 707.20001">
                    <g>
                        <circle data-title="Всехсвятская церковь" data-text="" data-photo="/img/chirches/Vsehsvyatskij.jpg" class="point" cx="393.58417" cy="330.44604" r="5.3373585"/> 
                        <circle data-title="Церковь святой троицы" data-text="" data-photo="/img/chirches/Troica.jpg" class="point" cx="262.37103" cy="220.56001" r="5.3373585"/> 
                        <circle data-title="Святоуспенский кфедральный собор" data-text="" data-photo="/img/chirches/SvyatoYspencki.jpg" class="point" cx="609.90765" cy="143.6161" r="5.3373585"/> 
                        <circle data-title="Собор святой Софии" data-text="" data-photo="/img/chirches/Sophia.jpg" class="point" cx="488.21658" cy="111.95773" r="5.3373585"/> 
                        <circle data-title="Храм всех святых" data-text="" data-photo="/img/chirches/AllSaints.jpg" class="point" cx="448.50818" cy="598.66864" r="5.3373585"/> 
                        <circle data-title="Петропавловский собор" data-text="" data-photo="/img/chirches/Petropavlovski.jpg" class="point" cx="645.75922" cy="534.96979" r="5.3373585"/> 
                        <circle data-title="Свято-Николаевский женский моностырь" data-text="" data-photo="/img/chirches/Women.jpg" class="point" cx="599.08026" cy="348.73859" r="5.3373585"/> 
                        <circle data-title="Свято-Федоровский собор" data-text="" data-photo="/img/chirches/Fedor.jpg" class="point" cx="366.06644" cy="577.86969" r="5.3373585"/> 
                        <circle data-title="Церковь Пантейлемона целителя" data-text="" data-photo="/img/chirches/Healler.jpg" class="point" cx="204.74718" cy="320.13205" r="5.3373585"/> 
                        <circle data-title="Коложская церковь Св. Бориса и Глеба" data-text="" data-photo="/img/chirches/Kaloga.jpg" class="point" cx="102.29937" cy="379.84201" r="5.3373585"/> 
                        <circle data-title="Свято-Николаевский собор" data-text="" data-photo="/img/chirches/Nikolai.jpg" class="point" cx="69.44352" cy="586.13287" r="5.3373585"/> 
                    </g>
                </svg>
                <img src="/img/map.jpg" alt="">
            </div>


            <div class="info__bg">
                <div class="info">
                    <div class="info__wrapper">
                        <button class="info__close-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                            </svg>
                        </button>
                        <div class="info__photo-wrapper">
                            <img src="" alt="" class="info__photo">
                        </div>
                        <div class="info__text-wrapper">
                            <h2 class="info__title"></h2>
                            <p class="info__text"></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tooltip"></div>


        </main>
        <footer th:insert="blocks/footer"></footer>
        <script src="/js/map.js"></script>
    </body>
</html>