<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сборник молитв</title>
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/prayers.css" rel="stylesheet">
</head>
<body>
<header th:insert="blocks/header"></header>
<main>
    <h1 class="page-title  container">Сборник молитв</h1>
    <div class="prayers-list container">
        <div class="prayer" th:each="payer : ${prayers}">
            <h2 th:text="${payer.title}">Молитва</h2>
            <a th:href="@{/prayers/{id}(id=${payer.id})}" class="read-more-button">Открыть</a>
        </div>
    </div>




    <!-- <img src="/img/saint.png" alt="Описание изображения" class="background-image"> -->
    <div class="additional-block"></div>
</main>

<footer th:insert="blocks/footer"></footer>
</body>
</html>