<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/saint-persons.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<header th:insert="blocks/header">
</header>
<div class="hero">
    <h1 class="page-title  container">Святые</h1>
</div>
<form id="filter" class="container">
    <div class="container__element">
        <p class="message">Ранг:</p>
        <div class="dropdown">
            <label for="rank" class="dropdown-label"></label>
            <select id="rank" name="rank" class="dropdown-select">
                <option class="option" value="">Выберите ранг</option>
                <option class="option" value="type1">1</option>
                <option class="option" value="type2">2</option>
                <option class="option" value="type3">3</option>
            </select>
        </div>
    </div>

    <div class="container__element">
        <p class="message">Регион:</p>
        <div class="dropdown">
            <label for="region" class="dropdown-label"></label>
            <select id="region" name="region" class="dropdown-select">
                <option class="option" value="">Выберите Регион</option>
                <option class="option" value="region1">Регион 1</option>
                <option class="option" value="region2">Регион 2</option>
                <option class="option" value="region3">Регион 3</option>
            </select>
        </div>
    </div>

    <div class="container__element">
        <p class="message">Тип подвига:</p>
        <div class="dropdown">
            <label for="type" class="dropdown-label"></label>
            <select id="type" name="type" class="dropdown-select">
                <option class="option" value="">Тип подвига</option>
                <option class="option" value="type1">подвиг 1</option>
                <option class="option" value="type2">подвиг 2</option>
                <option class="option" value="type3">подвиг 3</option>
            </select>
        </div>
    </div>

    <button class="btn apply-filters-btn" type="button" id="filter-btn">Применить фильтры</button> <!-- Кнопка добавлена здесь -->
</form>

<div id="card-list"></div>

<template id="tmpCard">
    <div class="card saint-card">
        <img id="image" class="saint-image" src="" alt="Фотография человека">
        <div class="card-content">
            <h2 id="saint-name" class="saint">Имя Фамилия</h2>
            <div class="card-row">
                <h4 class="card-row__head saint-phrase">Дата рождения:</h4>
                <p id="date-of-birdth" class="saint-phrase">ав</p>
            </div>
            <div class="card-row">
                <h4 class="card-row__head saint-phrase">Дата смерти:</h4>
                <p id="date-of-death" class="saint-phrase">ав</p>
            </div>
            <div class="card-row">
                <h4 class="card-row__head saint-phrase">Место рождения:</h4>
                <p id="place-of-birth" class="saint-phrase">ва</p>
            </div>
            <div class="card-row">
                <h4 class="card-row__head saint-phrase">Тип подвига:</h4>
                <p id="type-of-feat" class="saint-phrase">ав</p>
            </div>
            <div class="card-row">
                <h4 class="card-row__head saint-phrase">День памяти:</h4>
                <p id="rank" class="saint-phrase">ав</p>
            </div>
            <a id="btn" class="read-more-button btn" href="#">Узнать больше</a>
        </div>
    </div>
</template>
<div class="pagination">
    <button id="previous" class="button">Предыдущее</button>
    <button id="next" class="button">Следующее</button>
</div>
<footer th:insert="blocks/footer"></footer>
<script src="/js/saint-persons.js"></script>
</body>
</html>