<nav class="nav-menu" th:fragment="header">
  <li>
    <a class="nav-menu__link" th:href="@{/}">
      <h1 class="logo">Святынь</h1>
    </a>
  </li>
  <li>
    <a class="nav-menu__link" th:href="@{/map}">
      <span class="nav-menu__text">Карта</span>
    </a>
  </li>
  <li>
    <a class="nav-menu__link" th:href="@{/biography/}">
      <span class="nav-menu__text">Святые</span>
    </a>
  </li>
  <li>
    <a class="nav-menu__link" th:href="@{/prayers/}">
      <span class="nav-menu__text">Сборник молитв</span>
    </a>
  </li>
  <li>
    <a class="nav-menu__link" th:href="@{/calendar}">
      <span class="nav-menu__text">Календарь</span>
    </a>
  </li>
  <li>
    <a class="nav-menu__link" th:href="@{/articles/}">
      <span class="nav-menu__text">Таинства</span>
    </a>
  </li>
  <li>
    <a class="nav-menu__link" th:href="@{/check-yourself}">
      <span class="nav-menu__text">Проверь себя</span>
    </a>
  </li>
</nav>